* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    border: 2px solid #fff;
    background-color: #162938;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    cursor: pointer;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogout-popup,
.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogout-popup:hover,
.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}


.btnLogout-popup {
    display: none;
}

.wrapper {
    position: fixed;
    width: 400px;
    height: 440px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
    z-index: 999;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;

}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    z-index: 1;
    transition: .5s;
}

.wrapper .icon-close:hover {
    background: transparent;
    color: #162938;
    border: 1px solid #162938;
}

h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

input:focus~label,
input:valid~label {
    top: -5px;
}

input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: #162938;
    border: 1px solid #162938;
}

.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

.post {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.post h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #162938;
}

.post p {
    font-size: 1em;
    color: #666;
    margin-bottom: 5px;
}

#categories {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    margin-bottom: 20px;
    z-index: 1;
}

.category {
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: #162938;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.category.active {
    background-color: #fff;
    color: #162938;
}

#posts {
    position: absolute;
    top: calc(20% + 100px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#error-message {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 999;
    display: none;
}

#success-message {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 255, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 999;
    display: none;
}

.new-post-form {
    width: 600px;
    height: 500px;
    background: #fff;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    text-align: center;
}

.new-post-form h2 {
    font-size: 2em;
    color: #162938;
    margin-bottom: 20px;
}

.new-post-form .input-box {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.new-post-form .input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 5px;
}


.new-post-form .input-box textarea {
    width: 100%;
    height: auto;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 5px;
    resize: none;
}

#tt-area {
    height: auto;
}

.new-post-form .input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.new-post-form .input-box input:focus~label,
.new-post-form .input-box input:valid~label {
    top: -5px;
}

.new-post-form .input-box textarea:focus~label,
.new-post-form .input-box textarea:valid~label {
    top: -10px;
}

.new-post-form button {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    transition: .5s;
}

.new-post-form button:hover {
    background: transparent;
    color: #162938;
    border: 1px solid #162938;
}

#categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.category-new-post {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.category-new-post label {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: #162938;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.category-new-post input[type="checkbox"] {
    display: none;
}

.category-new-post label {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: #162938;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.category-new-post input[type="checkbox"]:checked+label {
    background-color: transparent;
    color: #162938;
    border: 1px solid #162938;
}

.custom-alert {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    display: none;
    z-index: 999;
}

.custom-alert.active {
    display: block;
}

.custom-alert-content {
    margin-bottom: 20px;
}

#custom-alert-message {
    font-size: 1.2em;
    color: #162938;
    margin-bottom: 10px;
}

#custom-alert-button {
    width: 100px;
    height: 40px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    transition: .3s;
}

#custom-alert-button:hover {
    background: transparent;
    color: #162938;
    border: 1px solid #162938;
}

.btnDelete {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid red;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: red;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btnDelete:hover {
    background-color: red;
    color: #fff;
    border-color: red;
}

.btnShowDetails {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #162938;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #162938;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    margin-right: 10px;
}

.btnShowDetails:hover {
    background-color: #162938;
    color: #fff;
    border-color: #162938;
}

.post-details,
.post-likes,
.comment-form,
.comments-container,
.comment {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.post-details h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #162938;
}

.post-details p {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 15px;
}

.post-details .post-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    z-index: 1;
    transition: .5s;
}

.post-details .post-close:hover {
    background: transparent;
    color: #162938;
    border: 1px solid #162938;
}

.post-likes span {
    font-size: 1.2em;
    cursor: pointer;
    transition: color 0.3s ease;
}

.post-likes label {
    margin-left: 5px;
    font-size: 1.1em;
    color: #333;
}

.post-likes .liked,
.post-likes .disliked {
    color: #ff4d4d;
}

.comment-form textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1em;
    resize: vertical;
}

.comment-form button {
    width: 100%;
    height: 45px;
    background-color: #162938;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.comment-form button:hover {
    background-color: #0d1a29;
}

.comments-container {
    margin-bottom: 20px;
}

.comment {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    border-left: 5px solid #162938;
}

.comment p {
    margin-bottom: 5px;
    color: #333;
    font-size: 1.1em;
}

.comment-likes .liked,
.comment-likes .disliked {
    color: #ff4d4d;
}